# Conditional Statements

In [1]:
a = int(input("Enter the value for a: "))
b = int(input("Enter the value for b: "))
if b > a:
  print("b is greater than a")

Enter the value for a: 15
Enter the value for b: 16
b is greater than a

In [2]:
if b != a:
  print("a and b are not equal")
elif a == b:
  print("a and b are equal")

a and b are not equal

In [3]:
if b > a:
  print("b is greater than a")
elif a > b:
  print("a is greater than b")
else:
  print("a and b are equal")

b is greater than a

In [4]:
print("a is greater than b") if a > b else print("b is greater than a")

b is greater than a

In [5]:
if a>b and b>100:
    print("a is greater than 100")
else:
    print("a is smaller than 100")

a is smaller than 100

In [6]:
if a>b or b>10:
    print("One")
else:
    print("Two")

One

# Loops

In [7]:
for letter in 'Python':
   print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [8]:
for i in "Hemant Chaubey":
    print(i, end="")

Hemant Chaubey

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(65, 70):
    print(i)

65
66
67
68
69

In [11]:
for i in range(100, 150, 5):
    print(i)

100
105
110
115
120
125
130
135
140
145

In [12]:
for i in range(100, 150, 5):
    if i%10==0: continue
    print(i)

105
115
125
135
145

In [13]:
for i in range(100, 150, 5):
    if i%10==0: continue
    print(i)
else:
    print("Three")

105
115
125
135
145
Three

In [14]:
def printHelloWorld():
    print("Hello World...Hemant here!")

In [15]:
printHelloWorld()

Hello World...Hemant here!

In [16]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [17]:
factorial(10)

3628800

In [18]:
factorial(5)

120

In [19]:
def myName(fname, lname):
    print("Name: "+fname+lname)

In [20]:
myName("Hemant", "Chaubey")

Name: HemantChaubey

In [21]:
def myDetails(fname, lname, age):
    print("Name: " + fname + " " + lname)
    print("Age: " + str(age))

In [22]:
myDetails("Hemant", "Chaubey", 19)

Name: Hemant Chaubey
Age: 19

In [23]:
first = input("Enter the first name: ")
last = input("Enter the last name: ")
age = input("Enter the age: ")
myDetails(first, last, age)

Enter the first name: Hemant
Enter the last name: Chaubey
Enter the age: 19
Name: Hemant Chaubey
Age: 19

# Lambda Functions

In [24]:
x = lambda a : a + 10
print(x(5))

15

In [25]:
rollno = []
for i in range(1, 71):
    rollno.append(i)

In [26]:
print(rollno)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [27]:
final = list(filter(lambda a: (a >30), rollno))

In [28]:
print("A div rollno with greater than 30")
print(final)

A div rollno with greater than 30
[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [29]:
import functools
print("Sum of rollnos of A div")
print(functools.reduce(lambda a, b: a+b, rollno))

Sum of rollnos of A div
2485

In [30]:
print(functools.reduce(lambda a, b: a if a > b else b, rollno))

70